.dotsContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dotsDots {
  background: url(/assets/images/Dots.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
